.square {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    position: relative;
}

.square.food {
    -webkit-box-shadow: 0 0 30px 2px gold;
    -moz-box-shadow: 0 0 30px 2px gold;
    box-shadow:0 0 30px 2px gold;
}